<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <script src="javascripts/texteffects.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body id="hackerbreakfast-com">
    <div class="wrapper">

      <section>
        <div id="title">
          <div class="clearfix" id="titleWrap">
            <img src="/images/logo.png" alt="Hacker Breakfast Logo">
            <div class="left">
              <h1 class="text-effect">Hacker Breakfast</h1>
              <p>Spokane's Weekly Nerd Meetup</p>
            </div>
          </div>
          <hr>
        </div>

        {{ content }}

        <hr>
        <span class="credits left">site maintained by <a href="https://github.com/elasticdog/hackerbreakfast">elasticdog</a></span>
        <span class="credits right">hosted on github pages &mdash; theme by <a href="https://github.com/mattgraham/Midnight">mattgraham</a></span>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    <script type="text/javascript">
      $(".text-effect").textEffect({ fps: 60 })
    </script>
  </body>
</html>
